#calend-header{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
i{
    font-size: 18px;
}

p{
    display: inline;
}

#calend-table{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    border-collapse: collapse;
}

#thiz-table{
    border-collapse: collapse;
    caption-side: bottom;
    text-align: center;
    padding: 10px 0;
    background: cornsilk;
}

td{
    width: 50px;
    height: 50px;
    border-right: 1px dashed darkgrey;
    border-left: 1px dashed darkgrey;
    border-bottom: 1px dashed darkgrey;
    color: #669;
    padding: 12px 2px;


}

.day-name{
    color: darkred;
}